html{
    height: 100%;
    font-size: 16px;
}
  
body{
    margin: 0;
    padding: 0;
    height:100%;
    /*background-image: url('https://i.imgur.com/IEF6h3s.jpg');*/
    background-size: cover;
    background-position: center-bottom;
}
@media only screen and (max-width: 510px) {
    body{
        background-position: center;
    }
}